<div class="container-fluid">
    <div id="habilidades" class="row text-light rounded">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <h2 class="h2">Habilidades</h2>
                </div>
            <!-- botones de edicion -->
                <div class="col-2" >
                    <div id="habilidadesEdit" class="d-flex flex-row-reverse">
                        <ul>
                            <li class="nav" style="display:inline"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                            </li>
                            <li class="nav" style="display:inline"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                            </li>
                        </ul>
                    </div>    
                </div>
            <!-- fin de botones de edicion -->
            </div>
        </div>
        <div class="container-fluid ">
            <div class="progress bg-dark ">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress bg-dark" style="margin-top:15px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress bg-dark" style="margin-top:15px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress bg-dark" style="margin:15px 0px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>
    </div>
</div>
