<div class="container-fluid">
    <div id="habilidades" class="row text-light rounded pb-4 fondoNaranja">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <h2 class="h2">Habilidades</h2>
                </div>
                <div class="col-2" >
                    <!-- boton de agregar -->
                    <div id="HabilidadesEdit" class="d-flex flex-row-reverse">
                        <button type="button" class="btn  px-1  btn-outline-dark" data-bs-toggle="modal" data-bs-target="#agregarHabModal"><i class="fa-solid fa-plus" style="width: 30px"></i>
                        </button>
                    </div>   
                <!-- modal agregar habilidad -->
                <app-agregar-hab-modal></app-agregar-hab-modal> 
                <!-- fin modal agregar habilidad -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="px-1 ">
                <li *ngFor="let habilidades of habilidades" class="list-unstyled pt-3">
                    <div class="row ">
                        <div class="col-10">
                            <h6 class="h6">{{habilidades.habilidad}}</h6>
                        </div>
                        <div class="col-2 text-end">
                            <!-- botones de edicion -->
                            <button type="button" class="btn px-1" data-bs-toggle="modal" data-bs-target="#habilidadesModal"><i class="fa-solid fa-pen" style="width: 30px"></i>
                            </button>
                            <button type="button" class="btn ms-1"><i class="fa-solid fa-xmark" style="width: 15px"></i>
                            </button>  
                            <!-- modal editar habilidades -->
                            <app-habilidades-modal></app-habilidades-modal>
                            <!-- fin de modal editar habilidades -->
                            </div>
                    </div>
                    <div class="progress bg-dark bg-opacity-50 mt-0" style="margin-top:15px; height: 20px;">
                        <div class="progress-bar bg-info bg-opacity-75" role="progressbar" [style.width.%]="habilidades.nivel" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{habilidades.nivel}}%</div>
                    </div>   
                </li>
            </ul>
        </div>
    </div>
</div>
