<!-- Modal educacion-->
<div class="modal fade" style="text-align:left;" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="educacionModalLabel">Editar educación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form>
                <div class="mb-3">
                <label for="InputTitulo" class="form-label text-dark">Título</label>
                <input type="text" class="form-control" id="InputTitulo">
                </div>
                <div class="mb-3">
                <label for="InputFechaInicioEd" class="form-label text-dark">Fecha inicio</label>
                <input type="date" class="form-control" id="InputFechaInicioEd">
                </div>
                <div class="mb-3">
                <label for="InputFechaFinEd" class="form-label text-dark">Fecha fin</label>
                <input type="date" class="form-control" id="InputFechaFinEd">
                </div>
                <div class="mb-3">
                <label for="InputEstablecimiento" class="form-label text-dark">Establecimiento</label>
                <input type="text" class="form-control" id="InputEstablecimiento">
                </div>
                <div class="mb-3">
                <label for="InputDescripcionEducacion" class="form-label text-dark">Descripción</label>
                <textarea class="form-control" id="InputDescripcionEducacion"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>
