<!-- Modal agregar educacion-->
<div class="modal fade" style="text-align:left;" id="agregarEdModal" tabindex="-1" aria-labelledby="agregarEdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="agregarEdModalLabel">Agregar educación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="mb-3">
                  <label for="InputAddTitulo" class="form-label text-dark">Título</label>
                  <input type="text" class="form-control" formControlName="addTitulo" id="InputAddTitulo" required
                  [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 'is-valid': !Titulo?.errors && Titulo?.touched}">
                </div>
                <!-- configurar cotrolador titulo -->
                <div *ngIf="Titulo?.touched" >
                  <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                    El titulo es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador titulo-->
                <div class="mb-3">
                  <label for="InputAddFechaInicioEd" class="form-label text-dark">Fecha inicio</label>
                  <input type="date" class="form-control" formControlName="addFechaInicioEd" id="InputAddFechaInicioEd" required
                  [ngClass]="{'is-invalid': FechaInicioEd?.errors && FechaInicioEd?.touched, 'is-valid': !FechaInicioEd?.errors && FechaInicioEd?.touched}">
                </div>
                <!-- configurar cotrolador FechaInicio -->
                <div *ngIf="FechaInicioEd?.touched">
                  <p *ngIf="FechaInicioEd?.hasError('required')" class="text-danger">
                    La fecha de inicio es requerida
                  </p>
                </div>
                <!-- fin de configurar cotrolador FechaInicio-->
                <div class="mb-3">
                  <label for="InputAddFechaFinEd" class="form-label text-dark">Fecha fin</label>
                  <input type="date" class="form-control" id="InputAddFechaFinEd">
                </div>
                <div class="mb-3">
                  <label for="InputAddEstablecimiento" class="form-label text-dark">Establecimiento</label>
                  <input type="text" class="form-control" formControlName="addEstablecimiento" id="InputAddEstablecimiento" required
                  [ngClass]="{'is-invalid': Establecimiento?.errors && Establecimiento?.touched, 'is-valid': !Establecimiento?.errors && Establecimiento?.touched}">
                </div>
                <!-- configurar cotrolador Establecimiento -->
                <div *ngIf="Establecimiento?.touched">
                  <p *ngIf="Establecimiento?.hasError('required')" class="text-danger">
                    El establecimiento es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador Establecimiento-->
                <div class="mb-3">
                  <label for="InputAddDescripcionEd" class="form-label text-dark">Descripción</label>
                  <textarea class="form-control" id="InputAddDescripcionEd"></textarea>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" (click)="limpiar()">Limpiar</button>
                  <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>
