<!-- Modal agregar experiencia-->
<div class="modal fade" style="text-align:left;" id="agregarExpModal" tabindex="-1" aria-labelledby="agregarExpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="agregarExpModalLabel">Agregar experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="mb-3">
                  <label for="InputAddPuesto" class="form-label text-dark" >Puesto</label>
                  <input type="text" class="form-control" formControlName="addPuesto"  id="InputAddPuesto" required
                  [ngClass]="{'is-invalid': Puesto?.errors && Puesto?.touched, 'is-valid': !Puesto?.errors && Puesto?.touched}">
                </div>
                <!-- configurar cotrolador puesto -->
                <div *ngIf="Puesto?.touched" >
                  <p *ngIf="Puesto?.hasError('required')" class="text-danger">
                    El puesto es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador puesto-->
                <div class="mb-3">
                  <label for="InputAddFechaInicio" class="form-label text-dark">Fecha inicio</label>
                  <input type="date" class="form-control" formControlName="addFechaInicio"  id="InputAddFechaInicio" required
                  [ngClass]="{'is-invalid': FechaInicio?.errors && FechaInicio?.touched, 'is-valid': !FechaInicio?.errors && FechaInicio?.touched}">
                </div>
                <!-- configurar cotrolador FechaInicio -->
                <div *ngIf="FechaInicio?.touched">
                  <p *ngIf="FechaInicio?.hasError('required')" class="text-danger">
                    La fecha de inicio es requerida
                  </p>
                </div>
                <!-- fin de configurar cotrolador FechaInicio-->
                <div class="mb-3">
                  <label for="InputAddFechaFin" class="form-label text-dark">Fecha fin</label>
                  <input type="date" class="form-control" id="InputAddFechaFin">
                </div>
                <div class="mb-3">
                  <label for="InputAddEmpresa" class="form-label text-dark">Empresa</label>
                  <input type="text" class="form-control" formControlName="addEmpresa"  id="InputAddEmpresa" required
                  [ngClass]="{'is-invalid': Empresa?.errors && Empresa?.touched, 'is-valid': !Empresa?.errors && Empresa?.touched}">
                </div>
                <!-- configurar cotrolador Empresa -->
                <div *ngIf="Empresa?.touched">
                  <p *ngIf="Empresa?.hasError('required')" class="text-danger">
                    La empresa es requerida
                  </p>
                </div>
                <!-- fin de configurar cotrolador Empresa-->
                <div class="mb-3">
                  <label for="InputAddDescripcionExp" class="form-label text-dark">Descripción</label>
                  <textarea class="form-control" id="InputAddDescripcionExp"></textarea>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" (click)="limpiar()">Limpiar</button>
                  <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>
