<div class="container-fluid">
    <div id="proyectos" class="row text-light rounded">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <h2 class="h2">Proyectos</h2>
                </div>
              
                <div class="col-2" >
                    <!-- boton de agregar -->
                    <div id="ProyectosEdit" class="d-flex flex-row-reverse">
                        <button type="button" class="btn  px-1  btn-outline-secondary"><i class="fa-solid fa-plus" style="width: 30px; color:blanchedalmond"></i>
                        </button>
                    </div>   
                <!-- fin de boton de agregar --> 
                </div>
                
            </div>
        </div>
        <div class="row justify-content-center" style="margin:0;" >
            <div *ngFor="let proyectos of proyectosList" class="col-md-5" style="margin:15px">
                <div class="card mb-3 text-white bg-dark h-100">
                    <a [href]="proyectos.urlProyecto" target="_blank"><img [src]="proyectos.imgProyecto" class="card-img-top" alt="proyecto1" width="25%"></a>
                    <div class="card-body"><h5 class="h5">{{proyectos.nombre}}</h5>
                        <p class="card-text">{{proyectos.descripcion}}</p>
                        <!-- botones de edicion -->
                        <div style="text-align:right">
                            <button type="button" class="btn px-1  btn-outline-secondary"><i class="fa-solid fa-pen" style="width: 30px; color:blanchedalmond"></i>
                            </button>
                            <button type="button" class="btn ms-1 btn-outline-secondary"><i class="fa-solid fa-xmark" style="width: 15px; color:blanchedalmond"></i>
                            </button>   
                        </div>
                        <!-- fin de botones de edicion -->
                    </div>
                </div>  
            </div> 
            
            
        </div>
    </div>
</div>
