<!-- Modal SobreMi-->
<div class="modal fade" id="sobreMiModal" tabindex="-1" aria-labelledby="sobreMiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="sobreMiModalLabel">Editar Sobre mí</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="mb-3">
                  <label for="InputNombre" class="form-label text-dark">Nombre completo</label>
                  <input type="text" class="form-control" formControlName="nombre" id="InputNombre" required
                  [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'is-valid': !Nombre?.errors && Nombre?.touched}">
                </div>
                <!-- configurar cotrolador nombre -->
                <div *ngIf="Nombre?.touched" >
                  <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                    El nombre es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador nombre-->
                <div class="mb-3">
                  <label for="InputFechaNacimiento" class="form-label text-dark">Fecha de nacimiento</label>
                  <input type="date" class="form-control" formControlName="fechaNacimiento" id="InputFechaNacimiento" required
                  [ngClass]="{'is-invalid': FechaNacimiento?.errors && FechaNacimiento?.touched, 'is-valid': !FechaNacimiento?.errors && FechaNacimiento?.touched}">
                </div>
                <!-- configurar cotrolador fecha nacimiento -->
                <div *ngIf="FechaNacimiento?.touched" >
                  <p *ngIf="FechaNacimiento?.hasError('required')" class="text-danger">
                    La fecha de nacimiento es requerida
                  </p>
                </div>
                <!-- fin de configurar cotrolador fecha nacimiento-->
                <div class="mb-3">
                  <label for="InputCiudad" class="form-label text-dark">Ciudad</label>
                  <input type="text" class="form-control" formControlName="ciudad" id="InputCiudad" required
                  [ngClass]="{'is-invalid': Ciudad?.errors && Ciudad?.touched, 'is-valid': !Ciudad?.errors && Ciudad?.touched}">
                </div>
                <!-- configurar cotrolador ciudad -->
                <div *ngIf="Ciudad?.touched" >
                  <p *ngIf="Ciudad?.hasError('required')" class="text-danger">
                    La ciudad de residencia es requerida
                  </p>
                </div>
                <!-- fin de configurar cotrolador ciudad-->
                <div class="mb-3">
                  <label for="InputPais" class="form-label text-dark">País</label>
                  <input type="text" class="form-control" formControlName="pais" id="InputPais" required
                  [ngClass]="{'is-invalid': Pais?.errors && Pais?.touched, 'is-valid': !Pais?.errors && Pais?.touched}">
                </div>
                <!-- configurar cotrolador pais -->
                <div *ngIf="Pais?.touched" >
                  <p *ngIf="Pais?.hasError('required')" class="text-danger">
                    El país de residencia es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador pais-->
                <div class="mb-3">
                  <label for="InputEmailSobreMi" class="form-label text-dark">Email</label>
                  <input type="email" class="form-control" formControlName="emailSobreMi" id="InputEmailSobreMi" aria-describedby="emailHelp" required
                  [ngClass]="{'is-invalid': EmailSobreMi?.errors && EmailSobreMi?.touched, 'is-valid': !EmailSobreMi?.errors && EmailSobreMi?.touched}">
                </div>
                <!-- configurar cotrolador email SobreMi -->
                <div *ngIf="EmailSobreMi?.touched && EmailSobreMi?.errors" >
                  <p *ngIf="EmailSobreMi?.hasError('required')" class="text-danger">
                    El email es requerido
                  </p>
                  <p *ngIf="EmailSobreMi?.hasError('email')" class="text-danger">
                    El formato del email debe ser válido.
                  </p>
                </div>
                <!-- fin de configurar cotrolador email SobreMi-->
                <div class="mb-3">
                  <label for="imgPerfil" class="form-label text-dark">Imagen de perfil</label>
                  <input type="url"  class="form-control" formControlName="imgPerfil" id="imgPerfil" name="imgPerfil" placeholder="inserte url de imagen perfil" required
                  [ngClass]="{'is-invalid': ImgPerfil?.errors && ImgPerfil?.touched, 'is-valid': !ImgPerfil?.errors && ImgPerfil?.touched}">
                </div>
                <!-- configurar cotrolador imagen perfil -->
                <div *ngIf="ImgPerfil?.touched" >
                  <p *ngIf="ImgPerfil?.hasError('required')" class="text-danger">
                    El url de imagen es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador imagen perfil-->
                <div class="mb-3">
                  <label for="imgBanner" class="form-label text-dark">Imagen de banner</label>
                  <input type="url"  class="form-control" formControlName="imgBanner" id="imgBanner" name="imgBanner" placeholder="inserte url de imagen" required
                  [ngClass]="{'is-invalid': ImgBanner?.errors && ImgBanner?.touched, 'is-valid': !ImgBanner?.errors && ImgBanner?.touched}">
                </div>
                <!-- configurar cotrolador banner -->
                <div *ngIf="ImgBanner?.touched" >
                  <p *ngIf="ImgBanner?.hasError('required')" class="text-danger" >
                    El url de imagen es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador banner-->
                <div class="mb-3">
                  <label for="InputSobreMi" class="form-label text-dark">Sobre Mí</label>
                  <textarea class="form-control" id="InputSobreMi"></textarea>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" (click)="limpiar()">Limpiar</button>
                  <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>
