<!-- Modal SobreMi-->
<div class="modal fade" id="sobreMiModal" tabindex="-1" aria-labelledby="sobreMiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="sobreMiModalLabel">Editar Sobre mí</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form>
                <div class="mb-3">
                <label for="InputNombre" class="form-label text-dark">Nombre completo</label>
                <input type="text" class="form-control" id="InputNombre" required>
                </div>
                <div class="mb-3">
                <label for="InputFechaNacimiento" class="form-label text-dark">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="InputFechaNacimiento">
                </div>
                <div class="mb-3">
                <label for="InputCiudad" class="form-label text-dark">Ciudad</label>
                <input type="text" class="form-control" id="InputCiudad">
                </div>
                <div class="mb-3">
                <div class="mb-3">
                <label for="InputEmailSobreMi" class="form-label text-dark">Email</label>
                <input type="email" class="form-control" id="InputEmailSobreMi" aria-describedby="emailHelp">
                </div>
                <label for="InputSobreMi" class="form-label text-dark">Sobre Mí</label>
                <textarea class="form-control" id="InputSobreMi"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>
