<!-- Modal habilidades-->
<div class="modal fade" style="text-align:left;" id="habilidadesModal" tabindex="-1" aria-labelledby="habilidadesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="habilidadesModalLabel">Editar habilidad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form>
                <div class="mb-3">
                <label for="InputHabilidad" class="form-label text-dark">Habilidad</label>
                <input type="text" class="form-control" id="InputHabilidad">
                </div>
                <div class="mb-3">
                <label for="InputNivel" class="form-label text-dark">Nivel en %</label>
                <input type="integer" class="form-control" id="InputNivel">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>
