<!-- Modal banner-->
<div class="modal fade" style="text-align:left;" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="bannerModalLabel">Editar banner</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div class="mb-3">
                  <label for="imgBanner" class="form-label text-dark">Imagen</label>
                  <input type="url"  class="form-control" formControlName="imgBanner" id="imgBanner" name="imgBanner" placeholder="inserte url de imagen" required
                  [ngClass]="{'is-invalid': ImgBanner?.errors && ImgBanner?.touched, 'is-valid': !ImgBanner?.errors && ImgBanner?.touched}">
                </div>
                <!-- configurar cotrolador banner -->
                <div *ngIf="ImgBanner?.touched" >
                  <p *ngIf="ImgBanner?.hasError('required')" class="text-danger" >
                    El url de imagen es requerido
                  </p>
                </div>
                <!-- fin de configurar cotrolador banner-->
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>