<!-- Modal banner-->
<div class="modal fade" style="text-align:left;" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="bannerModalLabel">Editar banner</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form>
                <div class="mb-3">
                <label for="imgBaner" class="form-label text-dark">Imagen</label>
                <input type="url"  class="form-control" id="imgBaner" name="imgBanner" placeholder="inserte url de imagen" required>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>