<div class="container-fluid" style="margin-bottom:1px">
    <div id="experiencia" class="row text-light rounded-top">
        <div class="col">
            <div class="row">
                <div class="col-10">
                    <h2 class="h2">Experiencia</h2>
                </div>
                <!-- botones de edicion -->
                <div class="col-2" >
                    <div id="experienciaEdit" class="d-flex flex-row-reverse">
                        <ul>
                            <li class="nav" style="display:inline"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                            </li>
                            <li class="nav" style="display:inline"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                            </li>
                        </ul>
                    </div>    
                </div>
                <!-- fin de botones de edicion -->
            </div>
            <ul>
                <li *ngFor="let experiencia of experienciaList">
                    <h5 class="h5">{{experiencia.puesto}}</h5>
                    Fechas {{experiencia.start}} - {{experiencia.end}} <br>
                    {{experiencia.empresa}} <br>
                    {{experiencia.descripcion}}
                </li>
               <!-- <li>
                    <h5 class="h5">Experiencia 2</h5>
                    Fechas inicio - fin <br>
                    Empresa 2 <br>
                    Descripcion de la experiencia Lorem ipsum dolor sit amet consectetur adipiscing elit parturient, laoreet eleifend dui blandit vehicula eros phasellus ut, etiam ultricies varius neque ante accumsan nibh. 
                </li>-->
            </ul>
        </div>
    </div>
</div>
