<div class="container-fluid" style="margin-bottom:1px">
    <div id="experiencia" class="row text-light rounded-top">
        <div class="col">
            <div class="row pb-3">
                <div class="col-10" style="background-color:#cf5929 ;">
                    <h2 class="h2">Experiencia</h2>
                </div>
                <div class="col-2" >
                <!-- boton de agregar -->
                    <div id="ExperienciaEdit" class="d-flex flex-row-reverse">
                        <button type="button" class="btn  px-1  btn-outline-dark" style="background-color:#cf5929 ;"><i class="fa-solid fa-plus" style="width: 30px; color:blanchedalmond"></i>
                        </button>
                    </div>   
                <!-- fin de boton de agregar --> 
                </div>
            </div>
            <ul class="ps-1 me-0">
                <li *ngFor="let experiencia of experienciaList" class="list-unstyled">
                    <div class="row ">
                        <div class="col-10">
                            <h5 class="h5 fw-bold">{{experiencia.puesto}}</h5>
                        </div>
                        <div class="col-2 " style="text-align:right">
                        <!-- botones de edicion -->
                        <button type="button" class="btn px-1 btn-dark"><i class="fa-solid fa-pen" style="width: 30px; color:blanchedalmond"></i>
                        </button>
                        <button type="button" class="btn ms-1 btn-dark"><i class="fa-solid fa-xmark" style="width: 15px; color:blanchedalmond"></i>
                        </button>
                        
                        <!-- fin de botones de edicion -->
                        </div>
                    </div>
                    <h6 class="text-uppercase">{{experiencia.empresa}}</h6> 
                    <P class="fst-italic">{{experiencia.start}} - {{experiencia.end}} </P>
                    {{experiencia.descripcion}}
                    
                    <hr size="1px" color="#fdf1c9" />
                </li>
            </ul>

        </div>
    </div>
    
    
</div>

