<div class="container-fluid" style="margin-bottom:1px; margin-top:2%">
    <div id="sobreMi" class="row rounded">
        <div class="col-8 col-sm-3 col-md-2 offset-2 offset-sm-0 offset-md-0">
            <img [src]="miMaqPortfolio.imgPerfil" alt="Mi foto" width="100%" class="rounded-circle" style="margin-top:-50%">
            <div style="text-align:right">
                <!-- boton de editar foto perfil -->
                <button type="button" class="btn btn-outline-dark" style="margin-top:-13%" data-bs-toggle="modal" data-bs-target="#imgPerfilModal"><i class="fa-solid fa-pen"></i>
                </button>
                <!-- modal edicion img Perfil-->
                <app-img-perfil-modal></app-img-perfil-modal>
                <!-- Fin de modal edicion img Perfil-->
                
            </div>
        </div>
        <div class="col-12 col-sm-9 col-md-10 " style="color:#010101">
            <div class="row">
                <div class="col-10">
                    <h2 class="h2">{{miMaqPortfolio.nombre}}</h2>
                    <p>{{miMaqPortfolio.ciudad}}</p>
                    
                </div>
                <!-- boton de edicion -->
                <div class="col-2" >
                    <div id="sobreMiEdit" class="d-flex flex-row-reverse">
                    
                        <button type="button" class="btn ms-1 btn-outline-dark"><i class="fa-solid fa-xmark" style="width: 15px;"></i>
                        </button>
                        <button type="button" class="btn px-1 btn-outline-dark" data-bs-toggle="modal" data-bs-target="#sobreMiModal"><i class="fa-solid fa-pen" style="width: 30px;"></i>
                        </button>
                    </div>    
                </div>              
                <!--fin de boton de edicion-->
                <!--modal SobreMi-->
                <app-sobre-mi-modal></app-sobre-mi-modal> 
                 
            </div>
            <p>{{miMaqPortfolio.sobreMi}}</p>
        </div>
        
    </div>
</div>
