<div class="container-fluid" style="margin-bottom:1px">
    <div id="sobreMi" class="row rounded">
        <div class="col-3 col-md-2">
            <img [src]="miMaqPortfolio.imgPerfil" alt="Mi foto" width="100%" class="rounded-circle  " style="margin-top:-50%">
            <div style="text-align:right">
                <button type="button" class="btn " ><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                </button>
            </div>
        </div>
        <div class="col-9 col-md-10 " style="color:#010101">
            <div class="row">
                <div class="col-10">
                    <h2 class="h2">{{miMaqPortfolio.nombre}}</h2>
                    <p>{{miMaqPortfolio.ciudad}}</p>
                </div>
                <!-- boton de edicion -->
                <div class="col-2" >
                    <div id="sobreMiEdit" class="d-flex flex-row-reverse">
                        <!--<div class="row">
                            <div class="col-6 bg-dark" style="margin-right:0"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px" margin="0" class="rounded float-end">
                            </div>
                            <div class="col-6"><img src="../assets/Imagenes/Sin título.png" alt="logo borrar" width="30px" >
                            </div>
                        </div>

                        <ul>
                            <li class="nav" style="display:inline"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                            </li>
                            <li class="nav" style="display:inline"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                            </li>
                        </ul>
                    -->
                        <button type="button" class="btn p-0"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                        </button>
                        <button type="button" class="btn p-0"><img src="../assets/Imagenes/Sin título.png" alt="logo editar" width="30px">
                        </button>
                    </div>    
                </div>              
                <!--fin de boton de edicion-->   
                 
            </div>
            <p>{{miMaqPortfolio.sobreMi}}</p>
        </div>
        
    </div>
</div>
