<!-- Modal experiencia-->
<div class="modal fade" style="text-align:left;" id="experienciaModal" tabindex="-1" aria-labelledby="experienciaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="experienciaModalLabel">Editar experiencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- inicio form -->
            <form>
                <div class="mb-3">
                <label for="InputPuesto" class="form-label text-dark">Puesto</label>
                <input type="text" class="form-control" id="InputPuesto">
                </div>
                <div class="mb-3">
                <label for="InputFechaInicio" class="form-label text-dark">Fecha inicio</label>
                <input type="date" class="form-control" id="InputFechaInicio">
                </div>
                <div class="mb-3">
                <label for="InputFechaFin" class="form-label text-dark">Fecha fin</label>
                <input type="date" class="form-control" id="InputFechaFin">
                </div>
                <div class="mb-3">
                <label for="InputEmpresa" class="form-label text-dark">Empresa</label>
                <input type="text" class="form-control" id="InputEmpresa">
                </div>
                <div class="mb-3">
                <label for="InputDescripcionExperiencia" class="form-label text-dark">Descripción</label>
                <textarea class="form-control" id="InputDescripcionExperiencia"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
                
            </form>
            <!-- fin del form -->

        </div>
        
      </div>
    </div>
  </div>
