<header class="container-fluid">
    <div class="container-fluid pad0">
        <nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank" class="padR15"><img src="https://i.ibb.co/7XzK44d/APLogo2.png" alt="logo Argentina Programa" height="30px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="#sobreMi">Sobre Mí</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#experiencia">Experiencia</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#educacion">Educación</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#habilidades">Habilidades</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#proyectos">Proyectos</a>
                      </li>
                    </ul>
                    <div class="navbar-brand marg0 " >
                      <ul class="nav">
                        <li class="padL10"><a href="https://github.com/aleceromero" target="_blank"><img src="https://i.ibb.co/r3QZd2W/github.png" alt="github" width="25"></a>
                        </li>
                        <li class="padL10"><a href="https://ar.linkedin.com/" target="_blank"><img src="https://i.ibb.co/tcpH0sd/linkedin.png" alt="linkedin" width="25"></a>
                        </li>
                        <li class="padL10"><a href="https://instagram.com" target="_blank"><img src="https://i.ibb.co/7v0rG96/instagram.png" alt="instagram" width="25"></a>
                        </li>
                        <li>
                          <!-- boton login -->
                          <app-login></app-login>
                          <!-- fin boton login -->
                          </li>
                        <li>
                          <!-- boton logout -->
                          <app-logout></app-logout>
                          <!-- fin de boton logout -->
                        </li>
                     </ul>
                         
                        
                    </div>
                      
                         
                </div>
                
            </div>
        </nav>
    </div>
    
    <div class="container-fluid pad0" *ngFor="let persona of personas" ><img [src]="persona.imgBanner" alt="imagen banner" width="100%">
    </div>
    <!-- <div class="textR margT5"> -->
    <!-- boton editar imagen -->
    <!-- <button type="button" class="btn btn-dark"  data-bs-toggle="modal" data-bs-target="#bannerModal"><i class="fa-solid fa-pen pe-2 colorBlanch" ></i>banner
    </button> -->
    <!-- modal banner -->
    <!-- <app-banner-modal></app-banner-modal> -->
    <!-- fin de modal banner -->
    <!-- </div> -->
    
    
</header>
