<header class="container-fluid">
    <div class="container-fluid" style="padding: 0;">
        <nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank" style="padding-right:15px;"><img src="../assets/Imagenes/APLogo2.png" alt="logo Argentina Programa" height="30px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="#sobreMi">Sobre Mí</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#experiencia">Experiencia</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#educacion">Educación</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#habilidades">Habilidades</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#proyectos">Proyectos</a>
                      </li>
                    </ul>
                    <div class="navbar-brand " style="margin:0">
                      <ul class="nav">
                        <li style=padding-left:10px><a href="https://github.com/aleceromero" target="_blank"><img src="../assets/Imagenes/github.png" alt="github" width="25"></a>
                        </li>
                        <li style=padding-left:10px><a href="https://ar.linkedin.com/" target="_blank"><img src="../assets/Imagenes/linkedin.png" alt="linkedin" width="25"></a>
                        </li>
                        <li style=padding-left:10px><a href="https://instagram.com" target="_blank"><img src="../assets/Imagenes/instagram.png" alt="instagram" width="25"></a>
                        </li>
                        <li>
                          <!-- boton login -->
                          <app-login></app-login>
                          <!-- fin boton login -->
                          </li>
                        <li>
                          <!-- boton logout -->
                          <app-logout></app-logout>
                          <!-- fin de boton logout -->
                        </li>
                     </ul>
                         
                        
                    </div>
                      
                         
                </div>
                
            </div>
        </nav>
    </div>
    
    <div class="container-fluid" style="padding:0"><img [src]="miMaqPortfolio.imgBaner" alt="imagen banner" width="100%">
    </div>
    <div style="text-align:right">
    <!-- boton editar imagen -->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#bannerModal"><i class="fa-solid fa-pen pe-2" style="color:blanchedalmond"></i>banner
    </button>
    <!-- modal banner -->
    <app-banner-modal></app-banner-modal>
    <!-- fin de modal banner -->
    </div>
    
    
</header>
